* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

html,
body {
  background-color: black;
  user-select: none; /* Standard syntax */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

#overlay {
  --top: 0;
  --right: 0;
  top: var(--top);
  right: var(--right);
  font-size: min(10vw, 10vh);
  font-family: impact, Arial, sans-serif;
  position: absolute;
  z-index: 1;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* #info {
  width: 100px;
  height: 100vh;
  color: white;
  background-color: black;
} */

canvas {
  --r: 1;

  width: min(100%, 100vh * (var(--r)));
  aspect-ratio: var(--r);

  min-width: 250px;
  min-height: calc(min-width / var(--r));

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, lightBlue, LightSteelBlue);
}
